@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
:root {
  --cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-gray: hsl(210, 10%, 33%);
  --gray-blue: hsl(201, 11%, 66%);
  --white: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p,ul{
  color: var(--gray-blue);
  font-weight: 400;
}
@media (max-width: 600px){
  p{
    font-size: 16px;
  }
  body{
    font-weight: 400;
  }
}





header {
  width: 100%;
  height: 85vh;
  background-image: url("./images/bg-header-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

header .container {
  width: 100%;
  height: 100%;
  padding-top:80px ;
  display: flex;
  flex-direction: column;
   gap: 50px;
  align-items: center;
}
 header .container img {
  width: 100px;
}
header .container h1 {
  font-size: 40px;
  color: var(--dark-gray);
  margin-bottom: 14px;
}
 header .container p {
  color: var(--gray-blue);
  margin-top: 10px;
  margin:0 400px;
}
 .container .action {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .container .action .btn {
  width: 250px;
  border: none;
  padding: 15px 12px;
  border-radius: 35px;
  color: var(--white);
  font-size: 20px;
transition: 0.5s;
margin:12px;

}

 
 .action .btn:hover {
  transform: scale(1.1);
}
 .action .btn-ios {
  background-color: var(--cyan);
  box-shadow: 5px 5px 3px var(--cyan);
}
 .action .btn-mac {
  background-color: var(--light-blue);
  box-shadow: 5px 5px 3px var(--light-blue);
}
@media (max-width: 600px) {
  .container .action .btn {
    width: 100%;
    padding: 12px 70px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  header .container h1{
    font-size: 35px;
    padding: 0 17px;
  }
  header .container p{
    font-size: 17px;
    margin: 0 25px;

  }

  .container .action {
   flex-direction: column;
 }
 header{
   height: 115vh;
 }
}

.heading {
 
display: flex;
flex-direction: column;
 align-items: center;
 text-align: center;
  margin-bottom: 20px;

}
 .heading h2 {
  color: var(--dark-gray);
  font-size: 30px;
  margin-bottom: 15px;
}
.heading p {
  margin: 0 370px;
 
}


.article-1 .row {
  width: 100%;
  margin: 80px 0 ;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.article-1 .row .image {
  width: 80%;
  
 margin-left: -70px;
}
.row .image img {
  width: 100%;;
height: 110%;
  object-fit: contain;
 
  
}
.row .text {
  width: 45%;
  margin-top: -4%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-right: 300px;
  margin-left: 100px;
}
.row .text li {
  padding-right: 15px;
  margin-bottom: 20px;
}
 .row .text li h3 {
  color: var(--dark-gray);
  margin-bottom: 10px;
}
 .row .text li p {
  color: var(--gray-blue);

}
@media (max-width: 600px) {
  .article-1 .row .image {
padding-left: 20px;
   width: 75%;
    height: 100%;
    margin-bottom: 80px;
  }
.heading p{
margin-left: 30px;
margin-right: 30px;
}
.row .text li p{
  padding-right: 0;
}

  .article-1 .row {
    flex-direction: column;
  }
  .row .image img {
    width: 320px;;
    height: 110%;
 
  }
  .row .text {
    width: 100%;
    margin-right:0px ;
    margin-left: 0px;
    padding: 0 30px;
    text-align: center;
  }
}




.article-2 {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
 gap: 50px;
  align-items: center;
}
.article-2 .image {
  text-align: center;
  width: 800px;
margin-bottom: 0;
}
.article-2 .image img {
 
  max-width: 100%;
}
@media (max-width: 600px) {
  .article-2 .image {
    width: 375px;
    margin: auto;
    padding: 20px;
  }
  .article-2{
    gap:8px;
    padding: 60px 0;
  }
  
}



.article-3 .container {
  display: flex;
 gap: 80px;
 justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.article-3 .container .box {
  text-align: center;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.container .box img {
  height: 30%;
  padding: 20px;
}
 .container .box h3 {
padding: 15px;
  color: var(--dark-gray);
}
.container .box p {

  color: var(--gray-blue);
}
@media (max-width: 600px) {
  .article-3 .container {
    justify-content: center;
    gap: 40px;
   
  }

}



.images {
 margin-top: 200px;
}
.images .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 60px;
 
}
.images .container img {
  width: 165px;
  max-width: 100%;
  margin-bottom: 15px;
}
@media (max-width: 600px) {
  .images{
    margin-top: 90px;
  
  }
  .images .container {
    flex-direction: column;
    height: 800px;
  }
  .images .container img{
    width: 120px;
  }
}


.info {
  padding: 150px 0;
}
.info .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}
.info .container img {
  width: 100px;
}
.info .container h1 {
  font-size: 40px;
  color: var(--dark-gray);
}
.info .container p {
  color: var(--gray-blue);
  margin: 20px 0;
  padding: 0 370px;
  padding-bottom: 30px;
}

@media (max-width: 600px) {
  .info {
    padding: 100px 30px;
  }
  .info .container .action {
    flex-direction: column;
  }
  .info .container h1{
    font-size: 30px;
  }
  .info .container p{
   margin-top: 10px;
  margin-bottom: 30px;
  padding: 0;

  }
}



footer {
  background-color: #eee;
  padding: 20px 0;
}
footer .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

footer .container img {
  width: 50px;
  height: 50px;


}
footer .container .links {
width: 30%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;

}

 .container .links li a {
  color: var(--dark-gray);

}
.container .links li:hover{
  transform: scale(1.1);
}
 .container .icon {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
 .container .icon li a img {
  width: 30px;
  height: 30px;

}
@media (max-width: 600px) {
  footer{
    padding: 50px 0;
  }
  footer .container {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .container .icon{
    width: 150px;
    padding-top: 20px;
  }
  footer .container .links{
    flex-direction: column;
    width: 100%;
   align-items: center;
    gap: 20px;
  }
}

