@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

body ,button{
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
button{
 background-color:  hsl(322, 100%, 66%);
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: (192, 100%, 9%);
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

p {
  line-height: 1.8;
 color:  hsl(208, 11%, 55%);

}
.fott{
  grid-template-columns: 35% auto auto 30%;
}

.attribution {
  font-size: 14px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
.section{
  
  background-image: url("./images/bg-hero-desktop.svg");
 
   background-color: hsl(193, 100%, 96%);
    
   
 
 

}

@media (max-width: 600px) {
  body{
    font-weight: 400;
  }
.section{

  background-image: url("./images/bg-hero-mobile.svg");


} .fott{
  grid-template-columns: auto;
}}


